/* PC */
@media (min-width: 64em) {
    #header .mobile-menu-btn {
        display: none;
    }
}

/* Tablet - Mobile */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .socials-list {
        font-size: 48px;
    }

    .socials-list a {
        margin: 0 8px;
    }    

    .contact-info {
        line-height: 2;
    }

    .contact-submit-btn {
        font-size: 17px;
    }

    #footer .copyright {
        padding: 12px 0;
        display: inline-block;
    }

    #content .member-name {
        font-size: 17px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .mobile-menu-btn {
        display: none;
    }

    #content .member-img {
        width: 188px;
    }
}

/* Mobile */
@media (max-width: 46.1875em) {
    .s-full-whidth,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
        /* padding: 0 15px; */
    }

    #nav .subnav a {
        color: #fff;
        padding:12px 41px;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

    
}